img.icon {
	vertical-align: middle;
	margin:0;
}

h1.post-title {
	border-bottom: 1px solid black;
}


#post-pagination ul {
	list-style: none;
	display:none;
}

.post blockquote {
	margin: 0 0 0 1em;
	padding: 0 0 0 1ex;
	border-left: 3px black double;
}

.post h1 {
	margin-top: 2em;
	border-bottom: 1px dashed #D5D5D5;
}

.post h2 {
	margin-top: 1.5em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post p > code {
  background-color: #F5F5F5;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}



.footer {
font-family: “Trebuchet MS”, Verdana, Arial, Helvetica, sans-serif;
}
