<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<style>
    .blog-title, .blog-description {
        text-shadow: 0 0 5px black;
    }
</style>

<style>
    .rounded-badge {
        margin: 0.5ex;
        border-radius: 50%;
        border: 3px solid red;
        color: red;
        font-size: 1.5em;
        padding: 0.7ex;
        display: inline-block;
        vertical-align: middle;
        background: white;
    }
</style>
