<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/post.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
<!--            <a class="extra" href="/">home</a>-->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Andri Rakotomalala
              </p>
            </div>
            <div class="contact">
              <p>
                <img src='/assets/mail32.png' width=16 class='icon'> <a href="mailto:andriniaina@gmail.com">andriniaina@gmail.com</a><br />
                <img src='/assets/linkedin32.png' width=16 class='icon'> <a href="http://fr.linkedin.com/in/arakotomalala/">fr.linkedin.com/in/arakotomalala/</a><br />
                <img src='/assets/github32-negative.png' width=24 class='icon' style='margin:-4px'> <a href="https://github.com/andriniaina">github.com/andriniaina</a><br />


				<br/>
                <img src='/assets/tag32.png' width=16 class='icon'> .NET (C#, F#, VB.NET), python, javascript
				<br/>
				<span style='width:16px; display:inline-block;'></span> web, wpf, win8 apps
				<br/>
				<span style='width:16px; display:inline-block;'></span> functional programming
				<br/>

              </p>
            </div>
          </div>
        </div>

    </body>
</html>
